dropbox.xml*
toodledo.xml
dropbox-folder.xml*
build/
cloudless/
google-key
local.properties
.gradle/
tags
.repo
.fossil
.fslckout
_FOSSIL_
\#*
*~
*.pyc
.idea/
*.iml
apk/
Thumbs.db
*.swp
captures/
.DS_Store
Makefile
BC4Key.txt
版本控制方案.txt
*.log
*.apk
output.json
